- if payments.empty?
  %p
    Your payment history is not available. If you have any questions about your account, please email
    #{mail_to "support@breakthroughmenscommunity.org"}.
- else
  %table.table
    %thead
      %tr
        %th Id
        %th Date
        %th Credit Card
        %th Amount
    %tbody
      - payments.each do |payment|
        %tr
          %td= link_to payment.guid, my_payment_path(payment)
          %td= payment.date
          %td= "ending in #{payment.card_last4}"
          %td= "$ #{payment.amount}"
