%table.table.table-hover#sections
  %thead
    %tr
      %th ID
      %th #
      %th Title
      %th Starts at
      %th Ends at
  %tbody
    - meetings.each do |meeting|
      %tr[meeting]
        %td= meeting.id
        %td= meeting.short_title
        %td= link_to meeting.title, [:admin, workshop, meeting]
        %td= meeting.starts_at.strftime("%l:%M %p")
        %td= meeting.ends_at.strftime("%l:%M %p")
