- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Workshops", [:admin, :workshops]
    %li= link_to @workshop.title, [:admin, @workshop]
    %li.actvie Edit

.container.workshops
  %header
    %h2= fa_icon("book", text: @workshop.title)
  %hr
  = render "tabs", workshop: @workshop, current: "edit"
  .main[@workshop]
    .col-md-6
      %br/
      = render "form", workshop: @workshop
