- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li.active Workshops

.container.workshops
  %header
    %h2= fa_icon("book", text: "Workshops")
  %hr
  .tabbable
    %ul.nav.nav-tabs
      %li= link_to fa_icon("chevron-left"), [:admin, :dashboard]
      %li.active= link_to fa_icon("list", text: "List"), [:admin, :workshops]
      %li= link_to fa_icon("plus", text: "Add new workshop"), [:new, :admin, :workshop]
  .main
    %table.table.table-hover#workshops
      %thead
        %tr
          %th ID
          %th Name
          %th Title
          %th Start date
          %th End date
      %tbody
        - @workshops.each do |workshop|
          %tr[workshop]
            %td= workshop.id
            %td= link_to workshop.name, [:admin, workshop]
            %td= link_to workshop.title, [:admin, workshop]
            %td= formatted_date workshop.start_date
            %td= formatted_date workshop.end_date
