- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Workshops", [:admin, :workshops]
    %li.active New

.container.workshops
  %header
    %h2= fa_icon("book", text: "New Workshop")
  %hr
  .tabbable
    %ul.nav.nav-tabs
      %li= link_to fa_icon("chevron-left"), [:admin, :dashboard]
      %li= link_to fa_icon("list", text: "List"), [:admin, :workshops]
      %li.active= link_to fa_icon("plus", text: "Add new workshop"), [:new, :admin, :workshop]
  .main[@workshop]
    .col-md-6
      %br/
      = render "form", workshop: @workshop
