- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Workshops", [:admin, :workshops]
    %li.active= @workshop.title

.container.workshops
  %header
    %h2= fa_icon("book", text: @workshop.title)
  %hr
  = render "tabs", workshop: @workshop, current: "show"
  .main[@workshop]
    .col-md-6
      %br/
      %h4= "Workshop - #{@workshop.id}"
      %table.table
        %thead
          %tr
            %th.col-md-3
            %th
        %tbody
          %tr
            %td Name:
            %td= @workshop.name
          %tr
            %td Title:
            %td= @workshop.title
          %tr
            %td Start date:
            %td= formatted_date(@workshop.start_date)
          %tr
            %td End date:
            %td= formatted_date(@workshop.end_date)
          %tr
            %td Created at:
            %td= @workshop.created_at
          %tr
            %td Updated at:
            %td= @workshop.updated_at
    .col-md-6
      %br/
      %h4= "Meetings"
      = render "admin/meetings/meetings_table", workshop: @workshop, meetings: @workshop.meetings
