.row
  .large-6.columns
    %p
      %h2= @workshop.title
  .large-6.columns
    %p
      %ul.inline-list.right
        %li= link_to fa_icon("pencil", text: "Edit Workshop"), edit_admin_workshop_path(@workshop), class: "button secondary round"
        %li= link_to fa_icon("times", text: "Delete Workshop"), admin_workshop_path(@workshop), class: "button secondary round",
          method: :delete, data: { confirm: "Are you sure you want to delete this workshop?" }
.row
  .large-9.columns
    .row
      .large-12.columns
        %h4 Sections
        = render "sections_table", workshop: @workshop, sections: @sections
  .large-3.columns
    .panel
      %h4 New Section
      = render "new_section", workshop: @workshop, section: @workshop.sections.build
