- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Workshops", [:admin, :workshops]
    %li.active= @workshop.title

.container.workshops
  %header
    %h2= fa_icon("book", text: @workshop.title)
  %hr
  .row
    .tabbable.col-md-9
      %ul.nav.nav-tabs
        %li= link_to fa_icon("chevron-left"), [:admin, :workshops]
        %li.active= link_to fa_icon("list", text: "Sections"), [:admin, @workshop]
      .main
        = render "sections_table", workshop: @workshop, sections: @sections
    %aside.col-md-3
      %h4= fa_icon("plus", text: "New Section")
      .well= render "new_section", workshop: @workshop, section: @workshop.sections.build
