.panel.panel-default
  .panel-heading
    %div.pull-right
      = link_to fa_icon("pencil", text: "Edit"), [:edit, :my, :profile], class: "btn btn-default"
    %h4
      = fa_icon("user", text: "Profile")
  .panel-body
    .row
      .col-md-3
        .thumbnail_image
          = image_tag gravatar_url(user.email, "150x150"), alt: "#{user.name}", class: "img-rounded"
          .caption
            %p.text-center
              %em
                = user.name
                = fa_icon("trophy") if user.admin?
      .col-md-9
        %table.table
          %thead
            %tr
              %th.col-md-3
              %th
          %tbody
            %tr
              %td Name:
              %td= user.name
            %tr
              %td Email:
              %td= user.email
            %tr
              %td Address1:
              %td= user.address1
            %tr
              %td Address2:
              %td= user.address2
            %tr
              %td City:
              %td= user.city
            %tr
              %td State:
              %td= user.state
            %tr
              %td Zip code:
              %td= user.zip_code
            %tr
              %td Phone number:
              %td= user.phone_number
            %tr
              %td Birthday:
              %td= formatted_birthday(user.birthday)
