= simple_form_for [:admin, intro_meeting], html: { class: "form-horizontal" }, |
  wrapper: :horizontal_form, |
  wrapper_mappings: { |
    check_boxes: :horizontal_radio_and_checkboxes, |
    radio_buttons: :horizontal_radio_and_checkboxes, |
    file: :horizontal_file_input, |
    boolean: :horizontal_boolean |
  } do |f| |
  = f.error_notification
  .form-inputs
    = f.input :date, wrapper: :horizontal_input_group do
      = f.input_field :date, as: :string, class: "form-control", data: { "date-format" => "YYYY/MM/DD" }
      %span.input-group-addon= fa_icon("calendar")
    = f.input :starts_at, as: :string, input_html: { value: formatted_time(f.object.starts_at) }
    = f.input :ends_at, as: :string, input_html: { value: formatted_time(f.object.ends_at) }
  .form-actions.col-md-offset-3
    = f.button :button, class: "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating Intro Meeting..." }
