= simple_form_for [:admin, intro_meeting] do |f|
  = f.input :date, as: :string
  = f.input :starts_at, as: :string, input_html: { value: f.object.starts_at.strftime("%l:%M %p") }
  = f.input :ends_at, as: :string, input_html: { value: f.object.ends_at.strftime("%l:%M %p") }
  = f.button :submit, class: "btn btn-primary"
