- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Intro Meetings", [:admin, :intro_meetings]
    %li.active New

.container.users
  %header
    %h2= fa_icon("bullhorn", text: "Intro Mettings")
  %hr
  .tabbable
    %ul.nav.nav-tabs
      %li= link_to fa_icon("list", text: "List"), [:admin, :intro_meetings]
      %li.active= link_to fa_icon("plus", text: "Add new meeting"), [:new, :admin, :intro_meeting]
  .main
    .row
      .col-md-6
        %br/
        = render "form", intro_meeting: @intro_meeting
