%h1 New Introductory Meetings

= simple_form_for [:admin, @intro_meeting] do |f|
  - if @intro_meeting.errors.any?
    %div#error_explantion
      %h2
        = pluralize(@intro_meeting.errors.count, 'error')
        prohibited this intro meeting from being saved:

      %ul
        - @intro_meeting.errors.full_messages.each do |msg|
          %li= msg

  = f.input :date
  = f.input :starts_at
  = f.input :ends_at
  = f.button :submit
