%table.table.table-hover#participants
  %thead
    %tr
      %th ID
      %th Name
      %th Email
      %th Phone Number
      %th Birthday
      %th Role
      %th Action
  %tbody
    - participants.each do |participant|
      %tr[participant]
        %td= participant.id
        %td= participant.name
        %td= link_to participant.email, [:admin, participant.user]
        %td= participant.phone_number
        %td= participant.birthday
        %td
          - if participant.student?
            %span.label.label-primary Student
          - elsif participant.educator?
            %span.label.label-default Educator
        %td
          .btn-group.btn-group-xs
            = button_to "Remove", admin_workshop_enrollment_path(participant.workshop, participant.enrollment), class: "btn btn-default btn-xs", method: :delete, data: { confirm: "Are you sure you want to remove this user from the class?" }
