%table.table
  %thead
    %tr
      %th.col-md-2
      %th
  %tbody
    %tr
      %td Short Title:
      %td= meeting.short_title
    %tr
      %td Title:
      %td= meeting.title
    %tr
      %td Starts at:
      %td= formatted_datetime(meeting.starts_at)
    %tr
      %td Ends at:
      %td= formatted_datetime(meeting.ends_at)
    %tr
      %td Created at:
      %td= meeting.created_at
    %tr
      %td Updated at:
      %td= meeting.updated_at
