%table.table
  %thead
    %tr
      %th.col-md-2
      %th
  %tbody
    %tr
      %td Short Title:
      %td= meeting.short_title
    %tr
      %td Title:
      %td= meeting.title
    %tr
      %td Start date:
      %td= formatted_date(meeting.start_date)
    %tr
      %td Start time:
      %td= formatted_time(meeting.start_time)
    %tr
      %td End date:
      %td= formatted_date(meeting.end_date)
    %tr
      %td End time:
      %td= formatted_time(meeting.end_date)
    %tr
      %td Created at:
      %td= meeting.created_at
    %tr
      %td Updated at:
      %td= meeting.updated_at
