%table.table.table-hover#meetings
  %thead
    %tr
      %th #
      %th Title
      %th Date
      %th Starts at
      %th Ends at
  %tbody
    - meetings.each do |meeting|
      %tr[meeting]
        %td= meeting.short_title
        %td= link_to meeting.title, [:admin, workshop, meeting]
        %td= formatted_date(meeting.starts_at)
        %td= formatted_time(meeting.starts_at)
        %td= formatted_time(meeting.ends_at)
