- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Workshops", [:admin, :workshops]
    %li= link_to @workshop.title, [:admin, @workshop]
    %li= link_to "Meetings", [:admin, @workshop, :meetings]
    %li= link_to @meeting.title, [:admin, @workshop, @meeting]
    %li.active Edit

.container.meetings
  %header
    %h2= fa_icon("book", text: @meeting.title)
  %hr
  = render "tabs", workshop: @workshop, meeting: @meeting, current: "edit"
  .main
    .row
      .col-md-6
        %br/
        = simple_form_for @meeting_form, url: admin_workshop_meeting_path(@workshop, @meeting), method: :put, html: { class: "form-horizontal" }, |
          wrapper: :horizontal_form do |f|
          .form-inputs
            = f.input :title
            = f.input :date
          .form-actions.col-md-offset-3
            = f.button :button, "Update Meeting", class: "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating meeting..." }
