- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Workshops", [:admin, :workshops]
    %li= link_to @workshop.title, [:admin, @workshop]
    %li.active Meetings

.container.workshops
  %header
    %h2= fa_icon("book", text: "Meetings")
  %hr
  .tabbable
    %ul.nav.nav-tabs
      %li= link_to fa_icon("chevron-left"), [:admin, @workshop]
      %li.active= link_to fa_icon("list", text: "List"), [:admin, @workshop, :meetings]
      %li= link_to fa_icon("plus", text: "Add new meeting"), [:new, :admin, :workshop, :meeting]
  .main
    = render "meetings_table", workshop: @workshop, meetings: @meetings
