-# content_for :head do
  =# stylesheet_link_tag "admin/index"

.container.sections
  %header
    %h2= fa_icon("dashboard", text: "Admin Dashboard")
  %hr
  .row
    .col-md-6
      .panel.panel-info
        .panel-heading
          %h4 Users
        .panel-body
          = "Total Users: #{@dashboard.user_count}"
    .col-md-6
      .panel.panel-info
        .panel-heading
          %h4 Alumni Association Membership
        .panel-body
          = "Total Members: #{@dashboard.alumni_membership_count}"
