- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Workshops", [:admin, :workshops]
    %li= link_to @workshop.title, [:admin, @workshop]
    %li.active= @section.title

.container.sections
  %header
    %h2= fa_icon("book", text: "#{@workshop.title} - #{@section.title}")
  %hr
  .row
    .tabbable.col-md-9
      %ul.nav.nav-tabs
        %li= link_to fa_icon("chevron-left"), [:admin, @workshop]
        %li.active= link_to fa_icon("calendar", text: "Calendar"), [:admin, @workshop, @section]
        %li= link_to fa_icon("list", text: "Roster"), [:admin, @section, :roster]
        %li= link_to fa_icon("times", text: "Delete Section"), [:admin, @workshop, @section], method: :delete, data: { confirm: "Are you sure you want to delete this workshop?" }
      .main
        %br/
        #sectionCalendar{"data-meetings-url" => @meetings_url, "data-start-date" => @first_meeting_date}
    %aside.col-md-3
      %h4= fa_icon("calendar", text: "Meetings for #{@section.title}")
      = render "meetings_table", meetings: @meetings
