= simple_form_for registration do |f|
  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email
  .form-actions
    = f.submit 'Register now', class: "button"
    = link_to "Cancel", root_path, class: "button secondary"
