= simple_form_for registration do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.button :button, "Register now".html_safe, class: "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Registering..." }
