%header
  %ul.nav.nav-pills
    = render "shared/navigation_links"
    %li.dropdown.pull-right{class: active_page_class(:sign_in)}
      - if signed_in?
        = link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do
          = image_tag gravatar_url(current_user.email), class: "img-rounded"
          %span.caret
        %ul.dropdown-menu
          = render "shared/navigation_menu_links"
      - else
        = link_to "Sign in", [:sign_in]
