%br/
.media
  = image_tag "leadership/fred_jealous.gif", alt: "Fred Jealous", class: "img-rounded pull-right"
  .media-body
    %h3.media-heading
      FRED JEALOUS, M.A.
      %small Founder/President & Breakthrough Presenter
    %p
      Fred Jealous has been actively involved in men’s work for over 30 years, as a teacher, and as a workshop organizer, leader, and consultant. He has spent the last 25 years as founder and director of the Breakthrough Men’s Community workshop and community. To date, over 1,500 men have been through this workshop.
    %p
      Prior to this, he spent many years as a teacher at all levels from preschool to graduate school. Locally, he taught Social Science courses and developed programs for veterans in transition, at Monterey Peninsula College. He created Monterey County’s first Men’s Alternatives to Violence Program, and he chaired the statewide coalition of alternatives to violence programs. He founded the local chapter of the National Coalition Building Institute, an organization that does workshops on reducing prejudice and claiming pride in our heritage. Over 10,000 people have participated in workshops this chapter has led . For two years, he was a facilitator for the Institute on the Healing of Racism. He has appeared on local and national television as an expert on men’s issues.
    %p
      Fred’s main interest is in developing leadership for human liberation and community building.
    %p
      Fred has been married to Ann Todd Jealous, a marriage and family counselor, for 46 years and they have two grown children, Lara and Benjamin and three grandchildren, Nina, Morgan and Jackson.
%hr
.media
  = image_tag "leadership/lee_garland.jpg", alt: "Lee Garland", class: "img-rounded pull-right"
  .media-body
    %h3.media-heading
      LEE GARLAND
      %small Executive Director & Breakthrough Presenter
    %p
      Lee Garland was a graduate of Fred’s Options workshop in 1991, and has been involved in men’s liberation work since1989. He has been leading Breakthrough workshops since 1994. He is a ReEvaluation Counseling Teacher, been a Men’s Alternatives to Violence counselor, worked with David Schiffman on the Northstar Men’s Project, is an intern with the Human Awareness Institute and has studied Effective Communication with Selwa Said.
    %p
      Lee is also the Executive Director for Breakthrough.
    %p
      He weaves song, humor and insight in his work with men in the Breakthrough workshops and loves to see the transformation in the hearts and minds of men. He is a songwriter, married to his partner for 32 years, is a father of 3 girls (grown women now), and grandfather of 2 boys.
%hr
.media
  = image_tag "leadership/tom_lee.gif", alt: "Tom Lee", class: "img-rounded pull-right"
  .media-body
    %h3.media-heading
      TOM LEE
      %small Breakthrough Presenter
    %p
      Tom Lee graduated the Options workshop with Fred Jealous in 1990, and has been working on leadership teams since the first Breakthrough groups. His wit, energy and joy of life are some of the things he brings to his leadership.
    %p
      Tom is currently the presenter for ongoing support for Breakthrough 1 & 2 graduates.
%hr
.media
  = image_tag "leadership/rick_moss.jpg", alt: "Rick Moss", class: "img-rounded pull-right"
  .media-body
    %h3.media-heading
      RICK MOSS, Ph.D.
      %small Breakthrough Presenter
    %p
      Rick Moss has been involved in Breakthrough for 8 years and has become one of our most dynamic and caring presenters. Rick is a minister, at the Pacific Coast Church in Pacific Grove, and is the founder of Pre-Cognitive Re-Education. His passion for the Breakthrough work is evident in his teaching.
%hr
.media
  = image_tag "leadership/ken_jenvey.jpg", alt: "Ken Jenvey", class: "img-rounded pull-right"
  .media-body
    %h3.media-heading
      KEN JENVEY
      %small Breakthrough Presenter
    %p
      Ken Jenvey began his journey with the Breakthrough Men’s Community in 1999. He has been a member of numerous leadership teams, including the Blue Shield Foundation study team in 2006, and stepped into the role of presenter in 2010. Ken is passionate about helping men live more fulfilling lives. He has studied Effective Communication with Selwa Said and participated in several workshops with David Richo. He is an advocate for loss and grief support and brings empathy from direct experiences with death, including a spouse, a brother, and both parents. Ken and his wife Valerie are active participants in the Non Violent Communication community, are students in A Course In Miracles, and live a spiritual life according to the teaching of Abraham and the Laws of Attraction. Ken teaches from the heart and shares his own experiences as an example of how the principles of Breakthrough apply to every day life.
