.masthead
  = image_tag "real_change.png"
.row.marketing
  .col-md-6
    %p
      Thanks for looking into Breakthrough - please come to one of our free introductory evenings to learn more. We'll cover the history and content of the workshops as well as go over all the details. You'll have an opportunity to register for Breakthrough that evening or online after you've heard all about it.
    %p
      Register on the date you'd like to attend and plan on arriving about 6:50 - we'll start right at 7:00.
      = link_to "Click here", schedule_path
      to see upcoming class schedules.
    = render "upcoming_intro_meetings"
    #intro-meeting-register-dialog
  .col-md-6
    .thumbnail
      = image_tag "board_of_directors.jpg"
    .events.alert.alert-block
      %h5 Registration Open To All Breakthrough Graduates
      = render "upcoming_events"
.row.marketing
  .col-md-6
    %p
      Breakthrough is you. It’s the community around you. It’s your brother, your co-worker, your friends, the neighbor you’ve never met. It’s the father struggling to find answers and the son who loves him.
    %p
      Breakthrough Men’s Community is actively creating a new community and culture of men, where listening, feeling and discussion have replaced suppression, self-medication and violence.
    %p
      At its core, Breakthrough is an education program that has transformed the lives of over 1,500 men on the Central Coast.
  .col-md-6
    .well
      %h5 Breakthrough Graduates consistently say:
      %ul
        %li "we are better listeners, partners and parents."
        %li "we found the safety and support we needed."
        %li "we have gotten tools for life that work."
        %li "it’s been life changing."
    = render "blue_shield"

.row.marketing
  .col-md-12
    .donate.alert.alert-block.alert-info
      = render "donate_now"
