%ul.nav.nav-tabs
  %li.active
    = link_to "Breakthrough", "#info", "data-toggle" => "pill"
  %li
    = link_to "Workshops", "#workshops", "data-toggle" => "pill"
  %li
    = link_to "History", "#history", "data-toggle" => "pill"
  %li
    = link_to "Leadership", "#leadership", "data-toggle" => "pill"

.tab-content
  .tab-pane.active#info
    %section
      = render 'breakthrough'
  .tab-pane#workshops
    %section
      = render 'workshops'
  .tab-pane#history
    %section
      = render 'history'
  .tab-pane#leadership
    %section
      = render 'leadership'
