- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Users", [:admin, :users]
    %li= link_to @user.name, [:admin, @user]
    %li.active Payments

.container.users
  %header
    %h2= fa_icon("money", text: "Payments")
  %hr
  .tabbable
    %ul.nav.nav-tabs
      %li= link_to fa_icon("chevron-left"), [:admin, @user]
      %li.active= link_to fa_icon("list", text: "List"), [:admin, @user, :payments]
  .main
    = render "payments_table", user: @user, payments: @payments
    / - if @user.alumni?
    /   %table.table
    /     %thead
    /       %tr
    /         %th.col-md-2
    /         %th
    /     %tbody
    /       %tr
    /         %td Membership Level:
    /         %td= "#{alumni_level(@membership.amount)} Level - $#{@membership.amount} a #{@membership.interval}"
    /       %tr
    /         %td Membership Status:
    /         %td= "Active" if @user.alumni?
    /       %tr
    /         %td Member Since:
    /         %td= @membership.created_at
    /       %tr
    /         %td Stipe Subscription:
    /         %td= link_to @membership.stripe_subscription_id, stripe_subscription_url(@membership.stripe_subscription_id), target: "_blank"
