= simple_form_for donation, url: "/donate", html: { class: "form-horizontal", id: "donation-form" } do |f|
  = f.error_notification

  .form-inputs
    %h2 Donor Information
    = f.input :first_name
    = f.input :last_name
    = f.input :email, as: :email

    = f.input :amount, placeholder: "100.00"

    %h2 Credit Card
    = f.input :number, maxlength: 19, input_html: { autocomplete: "off", "data-encrypted-name" => "number" }

    = f.input :expiration_date, as: :date,
      start_year: Time.zone.now.year,
      end_year: Time.zone.now.year + 25,
      order: [:month, :year],
      add_month_numbers: true

    = f.input :cvv, label: "CVV", maxlength: 4, input_html: { autocomplete: "off", "data-encrypted-name" => "cvv" }

  .form-actions
    = f.button :submit
    = link_to "Cancel", root_path, class: "btn"
