- content_for :javascript do
  = javascript_include_tag 'https://checkout.stripe.com/checkout.js'
  = javascript_include_tag 'donations'

%h1 Support Breakthrough with a Donation

%p
  We want to make Breakthrough available to all men who want to make positive change in their lives.
  %br/
  Please consider making a donation to support scholarships for lower income men.

%h3 How much would you like to donate?
#donation{"data-stripe-key" => "#{Rails.configuration.stripe[:publishable_key]}"}
/= link_to donate_path, id: "donation_button", class: "btn btn-lg btn-success" do
/  Donate Now
/  %span.glyphicon.glyphicon-heart

= render 'form', donation: @donation

%br/
%small
  To ensure your data is safe, we use
  = link_to "stripe", "http://stripe.com"
  to process the payments and store your information. Your data is sent encrypted using HTTPS.
%br/
%small Breakthrough Men's Community does not directly process or store your credit card information at any time.
%br/
