- content_for :javascript do
  = javascript_include_tag 'https://checkout.stripe.com/checkout.js'
  = javascript_include_tag 'my/alumni_membership'

.container.alumni
  %br
  .main.row
    .col-md-3
      = render "my/shared/menu", current: "alumni"
    .col-md-9
      .panel.panel-default
        .panel-heading
          %h4= fa_icon("heart", text: "Alumni Membership")
        .panel-body
          = render "alumni_details"
          %hr
          %h3 Membership level?
          #alumni_membership{"data-stripe-key" => "#{Rails.configuration.stripe[:publishable_key]}", |
                             "data-user-email" => "#{@user.email}" }
          = render 'form', user: @user, membership: @membership
          %br/
        .panel-heading
          %p
            To ensure your data is safe, we use
            = link_to "Stripe", "http://stripe.com"
            to process the payments and store your information. Your data is sent encrypted using HTTPS.
            Breakthrough Men's Community does not directly process or store your credit card information at any time.
