.panel.panel-default
  .panel-heading
    %h3.panel-title
      %strong= t ".title"
  .panel-body
    %p= t ".description"
    = minimal_form_for :password, url: passwords_path do |f|
      = f.input :email
      = f.submit class: "btn btn-primary btn-block"
