= simple_form_for message, url: "/contact", wrapper: :bootstrap3_horizontal, defaults: {right_column_html: {class: "col-md-9"}, label_html: {class: "col-md-3"}}, html: {class: "form-horizontal", role: "form"} do |f|
  = f.input :name
  = f.input :email
  = f.input :message, as: :text
  = f.submit 'Send Message', class: "btn btn-primary"
