= simple_form_for message, url: "/contact" do |f|
    = f.error_notification
    = f.input :name, placeholder: "Your Name"
    = f.input :email, placeholder: "Your Email"
    = f.input :message, as: :text, placeholder: "Your Message", input_html: { rows: '10' }
    = f.submit 'Send Message', class: "btn btn-primary"
