%table.table
  %thead
    %tr
      %th.col-md-3
      %th
  %tbody
    %tr
      %td Address1:
      %td= user.address1
    %tr
      %td Address2:
      %td= user.address2
    %tr
      %td City:
      %td= user.city
    %tr
      %td State:
      %td= user.state
    %tr
      %td Zip code:
      %td= user.zip_code
    %tr
      %td Phone number:
      %td= user.phone_number
    %tr
      %td Birthday:
      %td= user.birthday
