%table.table
  %thead
    %tr
      %th.col-md-3
      %th
  %tbody
    %tr
      %td Address1:
      %td= profile.address1
    %tr
      %td Address2:
      %td= profile.address2
    %tr
      %td City:
      %td= profile.city
    %tr
      %td State:
      %td= profile.state
    %tr
      %td Zip code:
      %td= profile.zip_code
    %tr
      %td Phone number:
      %td= profile.phone_number
    %tr
      %td Birthday:
      %td= profile.birthday
    %tr
      %td Updated at:
      %td= profile.updated_at
