%br/
%table.table.table-hover#users{data: { source: admin_users_url(format: 'json')}}
  %thead
    %tr
      %th ID
      %th Name
      %th Email
      %th Birthday
      - if nil
        %th Role
  %tbody
    - if nil
      - users.each do |user|
        %tr[user]{class: "#{'warning' if user.admin?}"}
          %td= user.id
          %td= link_to user.name, [:admin, user]
          %td= user.email
          %td= formatted_birthday(user.birthday)
          %td
            - if user.alumni?
              %span.label.label-primary Alumni
            - if user.admin?
              %span.label.label-default Admin
