%table.table#versions
  %thead
    %tr
      %th Timestamp
      %th Event
      %th Changes
      %th Whodunnit?
  %tbody
    - versions.each do |version|
      %tr[version]
        %td= version.created_at
        %td= version.event
        %td
          - version.changeset.sort.each do |key, value|
            %b= key
            = "#{value[0]} to #{value[1]}"
            %br/
        %td= User.find(version.whodunnit.to_i).name

