- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Users", [:admin, :users]
    %li= link_to @user.email, [:admin, @user]
    %li.active Edit

.container.users
  %header
    %h2= fa_icon("user", text: "User : #{@user.name} : #{@user.email}")
  %hr
  = render "tabs", user: @user, current: "edit"
  .main
    .row
      .col-md-6
        %h4 Account
        = render "account_form", user: @user
      .col-md-6
        %h4 Profile
        = render "profile_form", user: @user
