- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Users", [:admin, :users]
    %li.active New

.container.users
  %header
    %h2= fa_icon("users", text: "Users")
  %hr
  .tabbable
    %ul.nav.nav-tabs
      %li= link_to fa_icon("chevron-left"), [:admin, :dashboard]
      %li= link_to fa_icon("list", text: "List"), [:admin, :users]
      %li.active= link_to fa_icon("plus", text: "Add new user"), [:new, :admin, :user]
  .main
    .row
      .col-md-6
        = render "account_form", user: @user
