- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Users", [:admin, :users]
    %li.active= @user.name

.container.user
  %header
    %h2= fa_icon("user", text: "User : #{@user.name}")
  %hr
  = render "tabs", user: @user, current: "show"
  .main[@user]
    .row
      .col-md-6
        %br/
        %h4= "Account - #{@user.id}"
        = render "account", user: @user
      .col-md-6
        %br/
        %h4 Profile
        = render "profile", user: @user
    .row
      .col-md-6
        - unless @user.alumni?
          = link_to "Join Alumni", [:new, :admin, @user, :alumni_membership], class: "btn btn-default pull-right"
        %h4 Alumni Membership
        = render "alumni", user: @user, membership: @user.alumni_membership
