- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Users", [:admin, :users]
    %li.active= @user.email

.container.user
  %header
    %h2= fa_icon("user", text: "User : #{@user.name} : #{@user.email}")
  %hr
  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to fa_icon("info-circle", text: "Show"), [:admin, @user]
      %li= link_to fa_icon("pencil", text: "Edit"), [:edit, :admin, @user]
      %li= link_to fa_icon("times", text: "Delete"), [:admin, @user], method: :delete, data: { confirm: "Are you sure you want to delete this user?" }
      %li= link_to fa_icon("chevron-left", text: "Back"), [:admin, :users]
  .main[@user]
    .row
      .col-md-6
        %br/
        %h4= "Account (#{@user.id})"
        = render "account", user: @user
      .col-md-6
        %br/
        %h4 Profile
        = render "profile", profile: @user.profile
    .row
      .col-md-6
        %h4 Membership
        = render "membership", user: @user
