- content_for :breadcrumbs do
  %ol.breadcrumb
    %li= link_to "Dashboard", [:admin, :root]
    %li= link_to "Users", [:admin, :users]
    %li.active= @user.email

.container.user
  %header
    %h2= fa_icon("user", text: "User: #{@user.email}")
  %hr
  .tabbable
    %ul.nav.nav-tabs
      %li.active= link_to fa_icon("info-circle", text: "Show"), [:admin, @user]
      %li= link_to fa_icon("pencil", text: "Edit"), [:edit, :admin, @user]
      %li= link_to fa_icon("times", text: "Delete"), [:admin, @user], method: :delete, data: { confirm: "Are you sure you want to delete this user?" }
      %li= link_to fa_icon("chevron-left", text: "Back"), [:admin, :users]
  .main
    %br/
    %p
      ID:
      %strong= @user.id
      %br/
      Email:
      %strong= @user.email

    %hr

    %h4 Profile

    %p
      %address
        = @user.profile.address1
        %br/
        = "#{@user.profile.city}, #{@user.profile.state} #{@user.profile.zip_code}"
        %br/

    %p
      Birthday:
      = @user.profile.birthday
