!!! 5
%html
  %head
    = render 'shared/typekit'
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "google-site-verification", content: "mmi63OlC8vsxZPErapMjgj8LG3beLRGQGY7IYtxxRuo"}
    %title= content_for?(:title) ? yield(:title) : "Breakthrough Men's Community"
    %meta{name: "description", content: content_for?(:description) ? yield(:description) : "Breakthrough Men's Community"}
    = stylesheet_link_tag :application
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    = yield :head
    = csrf_meta_tags
  %body{class: page_class}
    .container-narrow
      .masthead
        = image_tag 'bmc_banner.png'
        = render 'shared/navigation'
      %hr
      = render 'shared/messages'
      = yield
      %hr
      %footer
        = render 'shared/footer'
    = javascript_include_tag :application
    = render 'shared/javascript'
