!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "Breakthrough Men's Community"
    %meta{name: "description", content: content_for?(:description) ? yield(:description) : "Breakthrough Men's Community"}
    = stylesheet_link_tag :application
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    = yield :head
  %body{class: page_class}
    %header
      .row
        .large-12.columns
          .masthead
            = image_tag 'bmc_banner.png'
          = render 'shared/navigation'
    %main{role: 'main'}
      .row
        .large-12.columns
          = render 'shared/messages'
          = yield
    %footer
      .row
        .large-12.columns
          %hr
          = render 'shared/footer'
    = javascript_include_tag :application
    = render 'shared/javascript'
    = debug(params) if Rails.env.development?
