!!! 5
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "Breakthrough Men's Community"
    %meta{name: "description", content: content_for?(:description) ? yield(:description) : "Breakthrough Men's Community"}
    = stylesheet_link_tag :application, media: "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = render 'shared/ie_shiv'
    = yield :head
  %body{class: page_class}
    %header
      = render 'shared/navigation'
    %main{role: 'main'}
      = render 'shared/messages'
      = yield
    %footer
      = render 'shared/footer'
    = render 'shared/javascript'
